<p>Compra de Boletos de Cine</p>
<div>

  <h1>Compra de Boletos</h1>
  <form [formGroup]="formulario">
    <div>
      <label for="compradores">Cantidad de compradores</label>
      <input formControlName="cantidadCompradores" id="compradores" type="number" min="1">
    </div>

    <div>
      <label for="cantidad">Cantidad de boletos por comprador (máx. 7)</label>
      <input formControlName="cantidadBoletos" id="cantidad" type="number" min="1" max="7">
    </div>

    <div>
      <label for="ceneco">¿Tienes tarjeta CENECO?</label>
      <input formControlName="tieneCeneco" id="ceneco" type="checkbox">
    </div>

    <button (click)="calcularTotal()" type="button">Calcular Total</button>
    <p>Precio: {{totalConDescuento}}</p>
  </form>
</div>
